<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gojek.chuckmqtt">

    <application>
        <activity
            android:name=".internal.presentation.transactionlist.ui.activity.TransactionListActivity"
            android:label="@string/mqtt_chuck_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.chuckmqtt.chuck.task"
            android:theme="@style/MqttChuck.Theme" />

        <service
            android:name=".internal.cleanup.ClearDatabaseService"
            android:exported="false" />
    </application>

</manifest>